{% extends "base_layout.html" %}

{% block script %}
$( initMainPage );
{% endblock %}

{% block body %}
   <h3>Shorten a URL</h3>
   <div id="shorten_section">
      <div id="shorten_form">
      <form>
         <fieldset>
            <label for="long_url">URL to shorten:</label>
            <input type="text" id="long_url" class="text ui-widget-content ui-corner-all">
            Result: <div id="shorten_result"></div>
         </fieldset>
      </form>
      </div>
   </div>
   <button type="button" id="shorten_button">Shorten</button><br>

   {# comment ... #}

   <h3>Expand a short URL</h3>
   <div id="expand_section">
      <div id="expand_form">
         <form>
            <fieldset>
               <label for="short_url">URL to expand:</label>
               <input type="text" id="short_url" class="text ui-widget-content ui-corner-all">
               Result: <div id="expand_result"></div>
            </fieldset>
         </form>
      </div>
   </div>
   <button type="button" id="expand_button" >Expand</button><br>
{% endblock %}
