body      { font-family: Verdana, serif;
            background: #eee; }
a, h1, h2 { color: #377BA8; }
h1, h2    { font-family: Verdana, serif;
            margin: 0; }
h1        { border-bottom: 2px solid #eee; }
h2        { font-size: 1.2em; }
h3        { margin: 2em 1ex 0; }

.page     { margin: 2em auto;
            min-width: 24em;
            padding: 0.8em;
            border: 5px solid #ccc;
            background: white; }

.flash    { background: #CEE5F5;
            padding: 0.5em;
            border: 1px solid #AACBE2; }
.error    { background: #F0D6D6;
            padding: 0.5em; }

.msg-highlight { color: #C00000; }

fieldset { max-width: 60em; }

input.text {
   box-sizing: border-box;
   width: 99%;
   margin-top: 4px;
}

button#expand_button  { color: steelblue; font-weight: bold; }
button#shorten_button { color: steelblue; font-weight: bold; }

#shorten_result { padding-left: 4px; }
#expand_result  { padding-left: 4px; }
#shorten_result_section { padding-top: 4px; }
#expand_result_section  { padding-top: 4px; }

#test_redirect_section {
   border: 1px solid black;
   width: 60em;
 }

